<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>portfolio</title>
    <meta name="description" content="A simple, whitespace, helvetica based portfolio theme.
">

    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="css/font-awesome.css">

    <meta property="og:url" content="http://jonahadkins.com//portfolio/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="portfolio" />
    <meta property="og:description" content="{% for project in site.portfolio %}{% if project.redirect %}                    {% if project.img %}                {% else %}                {% endif %}                        {{ project.title }}                        {{ project.description }}                    {% else %}                    {%..." />
    <meta property="og:image" content="http://jonahadkins.com/" />
</head>


<body>

<header class="site-header">


<div class="wrapper">

<nav class="site-nav">

<div class="trigger">

<a class="page-link" href="index.html"><font face="Montserrat Subrayada">Michael Bowser</font></a>   
<a class="page-link" href="portfolio.html">portfolio</a>
<a class="page-link" href="images/Resume.pdf">resume</a>
<a class="page-link" href="https://www.amazon.com/GIS-Cartography-Effective-Design-Second/dp/1482220679/ref=sr_1_2?s=books&ie=UTF8&qid=1402537037&sr=1-2&keywords=gis+cartography+a+guide+to+effective+map+design">publication</a>
</div>
</nav>

</div>

</header>
<div class="page-content">
<div class="wrapper">
<div class="post">

<header class="post-header">
<h1 class="post-title">portfolio</h1>
<h5 class="post-description"></h5>
</header>

<article class="post-content">

<!--FIRST PORTFOLIO ITEM-->    
<div class="project ">
<div class="thumbnail">
<a href="images/blackbirch.jpg">
<img class="thumbnail" src="images/blackbirch.jpg" />   
<span>
<h1>Black Birch Trail Map</h1>
<br />
</span>
</a>
</div>
</div>


<!--SECOND PORTFOLIO ITEM-->    
<div class="project ">
<div class="thumbnail">
<a href="images/sugarcamp.jpg">
<img class="thumbnail" src="images/sugarcamp.jpg" />   
<span>
<h1>Sugar Camp Trail Map</h1>
<br />
</span>
</a>
</div>
</div>


</article>
</div>
</div>
</div>

</body>
</html>